html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  background-color: #eeeeee !important;
  margin-bottom: 135px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 135px;
  background-color: #f9f9f9;
}

.footer-logo-block {
  max-width: 120px !important;
}

.footer-logo-block .footer-logo {
  width: 100%;
}

.heading {
  background-color: #f9f9f9;
  min-height: 225px;
  padding: 40px 110px 25px;
}

.comment_form {
  width: 50%;
}

#errorMess {
  width: 50%;
  padding: 5px;
  margin: 20px 0;
}

.comment {
  padding: 20px 0;
}

.comment .first-row {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.comment .first-row .person_name {
  font-weight: bold;
  font-size: 18px;
}

.comment .first-row .date_time {
  font-size: 14px;
}

.comment .comm_message {
  padding-top: 10px;
}

#comment_message,
#sendMail {
  border: 2px solid #000;
  background-color: #eeeeee;
}

#sendMail {
  float: right;
}

@media screen and (max-width: 768px) {
  .heading {
    padding: 40px 0px 25px;
    min-height: 195px;
  }

  .header-logo {
    width: 20%;
  }

  .header-logo img {
    width: 100%;
  }

  .comment .first-row {
    width: 100%;
  }

  .comment_form {
    width: 100%;
  }

  .footer .row {
    justify-content: space-between;
  }

  .footer .row .col-6 .small {
    font-size: 65%;
  }

  .footer .container {
    padding: 5px !important;
  }
}

